@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrap>*{
    margin: 30px;
    flex: 1 100%;
    border-radius: 10px;
}

nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 500;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
    color: black;
}

nav ul li a:hover{
    color: #427D9D;
    transition: 0.5s;
}

label.logo{
    font-size: 25px;
}

.articleclass{
    display: flex;
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;

    .fotoartikel{
        width: 768px;
        height: 432px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.aside{
    display: flex;
    flex: 0 0 300px;
    margin-left: 20px;
    text-align: center;
    justify-content: flex-end;
  
    .title{
      font-weight: 500;
    }
}

.Profil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  } 
  
.footerclass{
    text-align: center;
    height: 80px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .wrap>* {
        margin: 10px; /* Mengurangi margin untuk menghemat ruang pada perangkat seluler */
      }
    
      nav {
        flex-direction: column; /* Mengubah arah navigasi menjadi tumpukan vertikal */
        align-items: center; /* Pusatkan elemen navigasi */
      }
    
      nav ul {
        flex-direction: inline; /* Mengubah daftar navigasi menjadi tumpukan vertikal */
      }
    
      nav ul li {
        margin: 10px 10px; /* Mengurangi margin antara item navigasi */
      }
    
      .logo {
        text-align: center;
      }

      .articleclass {
        padding: 20px; /* Mengatur padding artikel untuk tampilan seluler yang lebih baik */
      }
    
      .fotoartikel {
        width: 100%; /* Gambar mengisi lebar penuh layar */
        height: auto; /* Menjaga aspek rasio gambar */
      }
    
      .aside {
        display: none;
      }
}